{% extends "layout.html" %}

{% block title %}page2{% endblock %}

{% block content %}
  <h1>This is Page 2</h1>


{% if logged_in %}

	
	<h1>Make a Post</h1>

    <form action='/submitPost'>
      <label for="sentence">Type a something you want to post.</label>
      <br>
      <input type="text" name="sentence" id="sentence" required>
      <br><br>
      <input type="submit">
    </form>
	
	
	{% for post in posts %}
	
	<p> {{ post }} </p>
	
	{% endfor %}
	
	
	

{% else %}
{% endif %}

{% endblock %}
